<div class="news-container container-fluid">

  <div class="row">
    <div class="col-sm-12">
      <h2>{{title}}</h2>
    </div>
  </div>

  <div class="row" *ngFor="let row of news">
    <section class="col-sm-3" *ngFor="let item of row.items">
      <article>
        <header *ngIf="item.title">
          <h6>
            <a href="{{item.url}}" target="_blank" [innerHTML]="item.title"></a>
          </h6>
        </header>

        <img src="{{item.urlToImage}}" alt="(no image)" class="img-fluid" *ngIf="item.urlToImage" />

        <p *ngIf="item.description" [innerHTML]="getDiscription(item.description)"></p>

        <footer *ngIf="item.publishedAt">
          <div>{{getDate(item.publishedAt)}}</div>
        </footer>
      </article>
    </section>
  </div>
</div>
