<div class="bank-container container-fluid">

  <nav class="nav">
    <a class="nav-link" *ngFor="let metal of ingotViewModel.metals"><span id="{{metal.Id}}" (click)="getRate(metal.Id)">{{metal.NameEng}}</span></a>
  </nav>

  <div class="row" *ngIf="ingotViewModel.ingotsRate && ingotViewModel.ingotsRate.length > 0">
    <div class="col-sm-12">
      <h2>Current rate</h2>
      <div class="card">
        <div class="card-body">
          <metal-section [metalRates]="ingotViewModel.ingotsRate"></metal-section>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="ingotViewModel.chartData && ingotViewModel.ingotsRate && ingotViewModel.ingotsRate.length > 0">
    <div div class="col-sm-12">

      <h2>Last years statistic for the gram: </h2>

      <div class="btn-group">
        <button class="btn btn-light" type="button"
                *ngFor="let ingot of ingotViewModel.ingotsRate;let myIndex = index"
                (click)="getChart(ingot.MetalID, myIndex)"
                [class.active]="ingotViewModel.selectedGramIndex === myIndex">
          {{ingot.Nominal}}
        </button>
      </div>

      <div class="card">
        <div class="card-body">
          <chart-form [inputData]="ingotViewModel.chartData"></chart-form>
        </div>
      </div>
    </div>
  </div>

  <default-metal-section *ngIf="ingotViewModel.showDefault"></default-metal-section>
</div>
