<div class="bank-container container">

  <home-currency-header-section [currencyRates]="homeViewModel.currentRates"></home-currency-header-section>

  <div class="row">
    <div class="col-sm-8">
      <!--<home-news-section title="latest news" [news]="homeViewModel.lastBelNews"></home-news-section>-->
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <!--<home-refinancing-rate-section [refinancingRate]="homeViewModel.refinancingRate"></home-refinancing-rate-section>-->
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <!--<weather-section [weather]="homeViewModel.weather"></weather-section>-->
        </div>
      </div>
    </div>
  </div>

</div>
