<div class="news-container container">

  <div class="row">
    <div class="col-sm-12">
      <h2>{{title}}</h2>
    </div>
  </div>

  <div class="row">
    <section class="news-section col-sm-12" *ngFor="let n of news">
      <article>
        <header *ngIf="n.title">
          <h6>
            <a href="{{n.url}}" target="_blank" [innerHTML]="n.title"></a>
          </h6>
        </header>

        <div class="clearfix">
          <img src="{{n.urlToImage}}" alt="(no image)" class="rounded float-left img-fluid" *ngIf="n.urlToImage" />

          <p *ngIf="n.description">{{n.description}}</p>
        </div>

        <footer *ngIf="n.publishedAt">
          <div>{{getDate(n.publishedAt)}}</div>
        </footer>
      </article>
    </section>
  </div>

</div>
