
<div class="container">

    <div class="row">
        <div class="col-sm-12 channels">
            <h2>NATURAL GAS PRICE</h2>

            <div class="card">
                <div class="card-body">
                    <div class="oil-frame">
                        <iframe id="tradingview_dc718" src="https://s.tradingview.com/dailyfx/widgetembed/?frameElementId=tradingview_dc718&amp;symbol=NYMEX%3ANG1!&amp;interval=D&amp;hidesidetoolbar=0&amp;symboledit=1&amp;saveimage=1&amp;toolbarbg=f4f7f9&amp;studies=%5B%5D&amp;hideideas=1&amp;theme=White&amp;timezone=exchange&amp;showpopupbutton=1&amp;studies_overrides=%7B%7D&amp;overrides=%7B%7D&amp;enabled_features=%5B%5D&amp;disabled_features=%5B%5D&amp;showpopupbutton=1&amp;locale=en&amp;utm_source=www.dailyfx.com&amp;utm_medium=widget&amp;utm_campaign=chart&amp;utm_term=NYMEX%3ANG1!"
                                frameborder="0"
                                allowtransparency="true"
                                scrolling="no"
                                allowfullscreen=""></iframe>
                    </div>
                    <div>
                        Check our natural gas price chart to keep up-to-date on the commodity’s live price, as well as longer-term price trends.
                        Stay on top of the latest events affecting the value of natural gas with our news and analysis, which can also help when forecasting natural gas prices.
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
