
<div class="container">

    <div class="row">
        <div class="col-sm-12 channels">
            <h2>UK OIL PRICE CHART - UKOIL (BRENT CRUDE)</h2>

            <div class="card">
                <div class="card-body">
                    <div class="oil-frame">
                        <iframe src="https://s.tradingview.com/dailyfx/widgetembed/?frameElementId=tradingview_edad3&amp;symbol=TVC%3AUKOIL&amp;interval=D&amp;hidesidetoolbar=0&amp;symboledit=1&amp;saveimage=1&amp;toolbarbg=f4f7f9&amp;studies=%5B%5D&amp;hideideas=1&amp;theme=White&amp;timezone=exchange&amp;showpopupbutton=1&amp;studies_overrides=%7B%7D&amp;overrides=%7B%7D&amp;enabled_features=%5B%5D&amp;disabled_features=%5B%5D&amp;showpopupbutton=1&amp;locale=en&amp;utm_source=www.dailyfx.com&amp;utm_medium=widget&amp;utm_campaign=chart&amp;utm_term=TVC%3AUKOIL"
                                frameborder="0"
                                allowtransparency="true"
                                scrolling="no" a
                                llowfullscreen=""></iframe>
                    </div>
                    <div>
                        UK Oil – also referred to as Brent crude oil, Brent blend, London Brent and Brent petroleum – is a type of crude oil, described as ‘sweet light’
                        because of its relatively low sulphur content and density. It is drilled from the North Sea’s Brent, Oseberg, Forties and Ekosfisk fields off the shores of
                        the UK and Norway. Its proximity to these coastlines makes it relatively easy and cost-effective to transport internationally, which is why almost two thirds of global
                        oil is priced using this benchmark.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 channels">
            <h2>US OIL PRICE CHART - USOIL (WTI CRUDE)</h2>

            <div class="card">
                <div class="card-body">
                    <div class="oil-frame">
                        <iframe src="https://s.tradingview.com/dailyfx/widgetembed/?frameElementId=tradingview_70b0b&amp;symbol=TVC%3AUSOIL&amp;interval=D&amp;hidesidetoolbar=0&amp;symboledit=1&amp;saveimage=1&amp;toolbarbg=f4f7f9&amp;studies=%5B%5D&amp;hideideas=1&amp;theme=White&amp;timezone=exchange&amp;showpopupbutton=1&amp;studies_overrides=%7B%7D&amp;overrides=%7B%7D&amp;enabled_features=%5B%5D&amp;disabled_features=%5B%5D&amp;showpopupbutton=1&amp;locale=en&amp;utm_source=www.dailyfx.com&amp;utm_medium=widget&amp;utm_campaign=chart&amp;utm_term=TVC%3AUSOIL"
                                frameborder="0"
                                allowtransparency="true"
                                scrolling="no"
                                allowfullscreen=""></iframe>
                    </div>

                    <div>
                        US Oil – also known as West Texas Intermediate (WTI) and Texas Sweet Light – is another type of ‘sweet light’ crude oil, that has a lower sulphur content and density than UK Oil.
                        It is drilled in North America, primarily in Texas, Louisiana and North Dakota, and sent via pipeline to Cushing, Oklahoma for price settlement.
                        As this is a landlocked area, most WTI oil is consumed in the US, making this the primary benchmark for the US market.
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>