<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" [routerLink]='["/"]'>This Is Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/"><span class='fa fa-home'></span> Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class='fa fa-th-large'></span> Top News
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/news/world">World news</a>
            <a class="dropdown-item" href="/news/belarus">Belarus news</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/news/tut">TUT news</a>
            <a class="dropdown-item" href="/news/onliner">Onliner news</a>
            <a class="dropdown-item" href="/news/citydog">City dog news</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/news/belsat">Belsat news</a>
            <a class="dropdown-item" href="/news/belarus-partisan">Belarus partisan news</a>
            <a class="dropdown-item" href="/news/nasha-niva">Nasha niva news</a>
            <a class="dropdown-item" href="/news/svoboda">Radio svoboda news</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class='fa fa-bank'></span> National Bank RB
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/bank/currencies">Currencies</a>
            <a class="dropdown-item" href="/bank/ingots">Ingots</a>
            <a class="dropdown-item" href="/bank/refinancing-rates">Refinancing rates</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class='fa fa-fire'></span> Commodities
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/natural-resources/oil">Oil</a>
            <a class="dropdown-item" href="/natural-resources/gas">Natural gas</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/weather"><span class='fa fa-cloud'></span> Weather</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
