
<div class="news-container container-fluid">

  <div class="row">
    <div class="col-sm-12">
      <belarus-news-section title="Belsat" [news]="belNewsViewModel.belsatNews"></belarus-news-section>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <belarus-news-section title="TUT" [news]="belNewsViewModel.tutNews"></belarus-news-section>
    </div>

    <div class="col-sm-4">
      <belarus-news-section title="Onliner" [news]="belNewsViewModel.onlinerNews"></belarus-news-section>
    </div>

    <div class="col-sm-4">
      <belarus-news-section title="Radio Svoboda" [news]="belNewsViewModel.svobodaNews"></belarus-news-section>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <belarus-news-section title="Nasha Niva" [news]="belNewsViewModel.nashaNivaNews"></belarus-news-section>
    </div>

    <div class="col-sm-8">
      <belarus-specific-news-section title="Belarus Partisan" [news]="belNewsViewModel.belarusPartisanNews"></belarus-specific-news-section>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <belarus-specific-news-section title="City Dog" [news]="belNewsViewModel.cityDogNews"></belarus-specific-news-section>
    </div>
  </div>

</div>
