<div class="news-container container-fluid">

  <div class="row">

    <div class="col-sm-3 channels">
      <aside *ngFor="let channel of worldNewsViewModel.channels">
        <section id="{{channel.id}}" (click)="getNews(channel.id)">{{channel.name}}</section>
      </aside>
    </div>

    <div class="col-sm-9 news">

      <news-horizontal-oriented-section [news]="worldNewsViewModel.news"></news-horizontal-oriented-section>

      <div class="alert alert-warning" *ngIf="worldNewsViewModel.showError">
        <p>Sorry, news is not found for this channel</p>
      </div>
    </div>

  </div>
</div>
