
<div class="news-container container-fluid">

  <div class="row">

    <div class="col-sm-12">
      <h2>Belsat</h2>

      <div class="card">
        <div class="card-body">

          <news-section [news]="belNewsViewModel.belsatNews"></news-section>

        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-4">
      <h2>TUT</h2>

      <div class="card">
        <div class="card-body">

          <news-section [news]="belNewsViewModel.tutNews"></news-section>

        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <h2>Onliner</h2>

      <div class="card">
        <div class="card-body">

          <news-section [news]="belNewsViewModel.onlinerNews"></news-section>

        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <h2>Radio Svoboda</h2>

      <div class="card">
        <div class="card-body">

          <news-section [news]="belNewsViewModel.svobodaNews"></news-section>

        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-4">
      <h2>Nasha Niva</h2>

      <div class="card">
        <div class="card-body">

          <news-section [news]="belNewsViewModel.nashaNivaNews"></news-section>

        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <h2>Belarus Partisan</h2>

      <div class="card">
        <div class="card-body">

          <specific-news-section [news]="belNewsViewModel.belarusPartisanNews"></specific-news-section>

        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-12">
      <h2>City Dog</h2>

      <div class="card">
        <div class="card-body">

          <specific-news-section [news]="belNewsViewModel.cityDogNews"></specific-news-section>

        </div>
      </div>
    </div>
  </div>

</div>
