<div class="bank-container container-fluid">
  <div class="row">

    <div class="col-sm-3 currencies">

      <aside>
        <section id="{{currency.Cur_ID}}" (click)="getRate(currency.Cur_ID)" *ngFor="let currency of currencyView.currencies">
          <span>{{currency.Cur_Abbreviation}}</span> - {{currency.Cur_QuotName_Eng}}
        </section>
      </aside>

    </div>

    <div class="col-sm-9 rate">

      <div class="row" *ngIf="currencyView.rate">
        <div class="col-sm-12">
          <h2>Rate <small>({{currencyView.rate.Date}})</small></h2>
          <div class="card">
            <div class="card-body">
              <rate-section [rate]="currencyView.rate" [isUpper]="currencyView.isUpper" [delta]="currencyView.delta"></rate-section>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="currencyView.rates && currencyView.rates.length > 0">
        <div class="col-sm-12">
          <h2>Last year statistic</h2>
          <div class="card">
            <div class="card-body">
              <chart-form [inputData]="currencyView.chartData"></chart-form>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="currencyView.rate">
        <div class="col-sm-12">
          <h2>Convertor</h2>
          <div class="card">
            <div class="card-body">
              <converter-section [rate]="currencyView.rate"></converter-section>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="currencyView.monthRates && currencyView.monthRates.length > 0">
        <div class="col-sm-12">
          <h2>Dinamic of last month</h2>
          <div class="card">
            <div class="card-body">
              <month-rates-table-section [rates]="currencyView.monthRates"></month-rates-table-section>
            </div>
          </div>
        </div>
      </div>

      <div class="default-rates" *ngIf="currencyView.showDefaultSection">
        <default-rates-section></default-rates-section>
      </div>

    </div>
  </div>
</div>
