<div class="bank-container container-fluid">

  <div class="row metal" *ngIf="refinancingRateViewModel.refinancingRate">

    <div class="col-sm-12">
      <h2>Current rate</h2>

      <div class="card">
        <div class="card-body">
          <refinancing-rate-section [refinancingRate]="refinancingRateViewModel.refinancingRate"></refinancing-rate-section>
        </div>
      </div>
    </div>
  </div>

  <div class="row metal" *ngIf="refinancingRateViewModel.refinancingRates && refinancingRateViewModel.refinancingRates.length > 0">

    <div div class="col-sm-8">
      <h2>Statistic</h2>

      <div class="card">
        <div class="card-body">
          <chart-form [inputData]="refinancingRateViewModel.chartData"></chart-form>
        </div>
      </div>
    </div>

    <div class="col-sm-4">

      <div class="card">
        <div class="card-body">
          <refinancing-rates-section [refinancingRates]="refinancingRateViewModel.refinancingRates"></refinancing-rates-section>
        </div>
      </div>
    </div>
  </div>
</div>
